Step 1. Import the necessary libraries

In [1]:
import pandas as pd

Step 2. Import the dataset from this address.
Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?

In [6]:
chipo.shape[0]

4622

Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

Step 7. Print the name of all the columns.

In [25]:
column_names = chipo.columns

print(column_names)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 8. How is the dataset indexed?

In [24]:
# Check how the dataset is indexed
index_info = chipo.index

print(index_info)

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?

In [23]:
# Find the most-ordered item
pop_item = chipo["item_name"].value_counts().idxmax()

print(pop_item)

Chicken Bowl

Step 10. For the most-ordered item, how many items were ordered?

In [22]:
# Filter the DataFrame to include only rows with the most-ordered item
pop_item_df = chipo[chipo["item_name"] == pop_item]

# Calculate the total number of items ordered for the most-ordered item
total_order = pop_item_df["quantity"].sum()

print(total_order)

761

Step 11. What was the most ordered item in the choice_description column?

In [26]:
# Find the most-ordered item
choice_item = chipo["choice_description"].value_counts().idxmax()

print(choice_item)

[Diet Coke]

Step 12. How many items were ordered in total?

In [27]:
chipo.quantity.sum()

4972

Step 13. Turn the item price into a float
• Check the item price type
• Create a lambda function and change the type of item price
• Check the item price type

In [29]:
chipo.dtypes.item_price

dtype('O')

In [30]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

In [31]:
chipo.item_price.dtypes

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?

In [32]:
chipo['revenue'] = chipo['quantity']*chipo.item_price
total_revenue = chipo.revenue.sum()

print (total_revenue)

39237.02

Step 15. How many orders were made in the period?

In [33]:
total_order = chipo.order_id.nunique()

print (total_order)

1834

Step 16. What is the average revenue amount per order?

In [35]:
total_revenue / total_order

21.39423118865867

Step 17. How many different items are sold?

In [36]:
chipo.item_name.value_counts().count()

50